//Primary-Colors
$theme-dark-blue: hsl(243, 87%, 12%);
$theme-ashe-blue: hsl(238, 22%, 44%);

//Accent-Colors
$theme-bright-blue: hsl(224, 93%, 58%);
$theme-cyan: hsl(170, 45%, 43%);
$theme-dark-cyan: hsl(170, 73%, 19%);

//Neutral-Colors
$theme-gray-blue: hsl(240, 75%, 98%);
$theme-light-gray: hsl(0, 0%, 75%);
$theme-pale-blue: hsl(207, 100%, 98%);
$theme-white: hsl(0, 0%, 100%);
$theme-light-white: hsla(0, 0%, 100%, 0.8);
$theme-light-ashe-blue: hsl(239, 30%, 67%);