@use '../global' as *;
@use '../components' as *;

body {
    position: relative;
    @include flex;
    width: 100%;
    min-height: 100vh;
    background-color: $theme-white;
}

#skip-nav-link {
    position: absolute;
    top: 0.3rem;
    left: 0;
    padding: 1rem;
    border-radius: 0 0.3rem 0.3rem 0;
    background-color: $theme-bright-blue;
    transform: translateX(-120%);
    transition: all 250ms linear;

    &:focus {
        transform: translateX(0%);
    }
}

main {
    @include flex;
    width: 100%;
}

body {
    scrollbar-color: $theme-ashe-blue $theme-light-white;

    &::-webkit-scrollbar {
        width: 0.625rem; 
        height: 0.625rem;
    }

    &::-webkit-scrollbar-thumb { 
        background-color: $theme-ashe-blue;
        border: 1px solid $theme-light-white;
        border-radius: 1.25rem;

        @include hover {
            &:hover {
                background-color: $theme-light-ashe-blue;
            }
        }
    }

    &::-webkit-scrollbar-track { 
        background: $theme-light-white;
    }
}
  