@use '../global' as *;
@use '../components' as *;

.testimonial {
    position: relative;
    @include flex;
    width: 100%;
    padding-bottom: 5.5rem;
    background-color: $theme-pale-blue;

    &::before {
        position: absolute;
        content: "";
        z-index: -1;
        width: 100%;
        height: 8rem;
        top: -5rem;
        background-image: url(../images/bg-curve-mobile.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }

    &__container {
        @include flex;
        gap: 5rem;
        max-width: 90rem;
        padding: 1.3rem;
        padding-top: 3rem
    }

    &__image {
        width: 100%;
        max-width: 35rem;
    }

    &__content {
        @include flex;
        gap: 2rem;
        text-align: center;
    }

    &__title {
        font: $theme-subheader-style;
        color: $theme-dark-blue;
    }

    &__paragraph {
        font: $theme-paragraph-style;
        font-size: 1rem;
        color: $theme-dark-blue;
        width: 100%;
        max-width: 55ch;
    }

    &__btn {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        font-weight: $normal;
        text-align: center;
        line-height: 1;
        color: $theme-cyan;
        height: 1.7rem;
        border: 0px;
        border-bottom: 1px;
        border-style: solid;
        border-color: $theme-cyan;
        box-shadow: none;

        &::after {
            content: url(../images/icon-arrow.svg);
            height: 1rem;
        }
    }

    &__card {
        @include flex($align: flex-start, $justify: flex-start);
        gap: 1.4rem;
        max-width: 22.2rem;
        padding: 1.3rem 1.5rem;
        border-radius: 0.7rem;
        background-color: $theme-white;
        box-shadow: 
                0 0.063rem 0.188rem rgba(7, 4, 57, 0.12),
                0 0.063rem 0.125rem rgba(7, 4, 57, 0.24);

        &-profile {
            @include flex (row, $justify: flex-start);
            order: 1;
            gap: 1rem;
        }

        &-avatar {
            width: 2.5rem;
            height: auto;
            border-radius: 50%;
        }

        &-author {
            font: $theme-paragraph-style;
            font-weight: $bold;
            text-align: left;
            color: $theme-dark-blue;
        }

        &-role {
            display: block;
            font-size: 0.675rem;
            font-weight: $normal;
        }

        &-quote {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: left;
            gap: 0.5rem;
            font: $theme-paragraph-style;
            font-size: 0.85rem;
            line-height: 1.5;
            color: $theme-dark-blue;

            &::before {
                content: url(../images/icon-quotes.svg);
            }
        }
    }

    @include breakpoint (tablet) {
        &::before {
            height: 10rem;
            top: -7rem;
        }

        &__container {
            flex-direction: row-reverse;
            align-items: flex-start;
            gap: 3rem;
            padding-inline: 3rem;
        }

        &__image {
            max-width: 42.5%;
        }

        &__content {
            align-items: flex-start;
            gap: 2rem;
            text-align: left;
        }

        &__paragraph {
            max-width: 58ch;
        }        
    }

    @include breakpoint (tablet-xl) {
        &::before {
            height: 15rem;
            top: -10rem;
        }

        &__container {
            padding-inline: 4rem;
        }
        
    }

    @include breakpoint (desktop) {

        &__container {
            padding-inline: 4.5rem;
        }
        
    }
}